<div id="about-wrapper" class="section-wrapper">
    <div>
        <a class="back-arrow" data-animation="headline" tabindex="1" href="#"><i
                class="fas fa-long-arrow-alt-left"></i></a>
    </div>
    <div id="about-content">
        <h2>Tim Konieczny.</h2>
        <p lang="en">
            My main areas of expertise are <b>computer graphics</b>,
            <b>digital experiences</b> and <b>front-end development</b>.
        </p>
        <p lang="en">
            I specialize in <b>all things 3D</b> and love creating
            <b>compelling user experiences</b> through <b>animations</b> and
            <b>transitions</b>.
        </p>
        <p lang="en">
            I focus on <b>small and medium web applications</b>. My experience ranges
            from 3D technologies like <b class="no-hyphenation">WebGL</b>,
            <b class="no-hyphenation">three.js</b>, <b>shaders</b> and
            <b class="no-hyphenation">WebXR</b>, to front-end technologies like
            <b class="no-hyphenation">React</b>, <b class="no-hyphenation">Redux</b>,
            <b class="no-hyphenation">HTML</b>, <b class="no-hyphenation">CSS</b> and
            <b class="no-hyphenation">JavaScript</b>.
        </p>
        <p lang="en">
            I can also help you with
            <b>native <span class="no-hyphenation">Android</span> development</b>,
            including both <b>UI-driven apps</b> and
            <b>computer graphics projects</b> using
            <b class="no-hyphenation">OpenGL ES</b>.
        </p>
        <p lang="en">
            <b>I’m always excited to tackle interesting projects and collaborate with
                great people. Sounds good? Let’s have a chat!</b>
        </p>
        <div class="message-buttons">
            <button class="message-button" data-animation="message" tabindex="2">
                get in touch
            </button>
            <button class="linkedin-button" data-animation="linkedin" tabindex="3">
                <i class="fab fa-linkedin-in"></i>connect on LinkedIn
            </button>
        </div>
        <a id="privacy-policy-button" class="animated link-with-icon" data-animation="privacyPolicy" tabindex="4"
            href="#"><i class="fas fa-long-arrow-alt-right"></i><span>privacy policy and legal
                information</span></a>
    </div>
</div>