<div id="headline-wrapper" class="section-wrapper">
    <h1>
        Hello,<br />
        I'm Tim,<br />
        <span>Freelance Developer.</span><br />
    </h1>
    <p id="subtitle">
        <span>3D</span><span class="separator">|</span><span>digital experiences</span><span
            class="separator">|</span><span>front-end development</span>
    </p>
    <div class="message-buttons">
        <button class="message-button animated" data-animation="message" tabindex="1">
            get in touch
        </button>
        <button class="linkedin-button animated" data-animation="linkedin" tabindex="2">
            <i class="fab fa-linkedin-in"></i>connect on LinkedIn
        </button>
    </div>
    <a class="animated link-with-icon" id="about-button" data-animation="about" tabindex="3" href="#"><i
            class="fas fa-long-arrow-alt-right"></i><span>learn more</span></a>
    <a class="animated link-with-icon" id="work-button" data-animation="work" tabindex="4" href="#"><i
            class="fas fa-long-arrow-alt-right"></i><span>work</span></a>
</div>