<div id="work-wrapper" class="section-wrapper">
    <div>
        <a class="back-arrow" data-animation="headline" tabindex="1" href="#"><i
                class="fas fa-long-arrow-alt-left"></i></a>
    </div>
    <div id="work-content">
        <h2>Work.</h2>
        <div id="grid">
            <div id="project1" class="cell">
                <div class="image"></div>
                <div class="content">
                    <h3>Project 1</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore et dolore magna aliquyam</p>
                    <a class="animated link-with-icon" href="#"><i
                            class="fas fa-long-arrow-alt-right"></i><span>browse</span></a>
                    <p class="tags">
                        <span class="tag">tag1</span>
                        <span class="tag">tag2</span>
                        <span class="tag">tag3</span>
                    </p>
                </div>
            </div>
            <div id="project2" class="cell">
                <div class="image"></div>
                <div class="content">
                    <h3>Project 2</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore et dolore magna aliquyam</p>
                    <p class="tags">
                        <span class="tag">tag1</span>
                        <span class="tag">tag2</span>
                        <span class="tag">tag3</span>
                    </p>
                </div>
            </div>
            <div id="project3" class="cell">
                <div class="image"></div>
                <div class="content">
                    <h3>Project 3</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore et dolore magna aliquyam</p>
                    <p class="tags">
                        <span class="tag">tag1</span>
                        <span class="tag">tag2</span>
                        <span class="tag">tag3</span>
                    </p>
                </div>
            </div>
            <div id="project4" class="cell">
                <div class="image"></div>
                <div class="content">
                    <h3>Project 4</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore et dolore magna aliquyam</p>
                    <p class="tags">
                        <span class="tag">tag1</span>
                        <span class="tag">tag2</span>
                        <span class="tag">tag3</span>
                    </p>
                </div>
            </div>
            <div id="project5" class="cell">
                <div class="image"></div>
                <div class="content">
                    <h3>Project 5</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore et dolore magna aliquyam</p>
                    <p class="tags">
                        <span class="tag">tag1</span>
                        <span class="tag">tag2</span>
                        <span class="tag">tag3</span>
                    </p>
                </div>
            </div>
            <div id="project6" class="cell">
                <div class="image"></div>
                <div class="content">
                    <h3>Project 6</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore et dolore magna aliquyam</p>
                    <p class="tags">
                        <span class="tag">tag1</span>
                        <span class="tag">tag2</span>
                        <span class="tag">tag3</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>