<div id="work-wrapper" class="section-wrapper">
    <div>
        <a class="back-arrow" data-animation="headline" tabindex="1" href="#"><i
                class="fas fa-long-arrow-alt-left"></i></a>
    </div>
    <div id="work-content">
        <h2>Work.</h2>
        <div id="grid">
            <div id="project1" class="cell"></div>
            <div id="project2" class="cell"></div>
            <div id="project3" class="cell"></div>
            <div id="project4" class="cell"></div>
            <div id="project5" class="cell"></div>
            <div id="project6" class="cell"></div>
        </div>
    </div>
</div>