<div id="work-wrapper" class="section-wrapper">
    <div>
        <a class="back-arrow" data-animation="headline" tabindex="1" href="#"><i
                class="fas fa-long-arrow-alt-left"></i></a>
    </div>
    <div id="work-content">
        <h2>Work.</h2>
        <p lang="en">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
            eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
            voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
            amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
            diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
            amet.
        </p>
    </div>
</div>