#about-wrapper {
    display: flex;
    flex-direction: column;
    #about-content {
        flex: 1;
        overflow-y: auto;
        padding: 0 2em 0 0;
        p {
            hyphens: auto;
            text-align: justify;
        }
        .link-with-icon {
            margin: 0;
        }
        .picture-buttons {
            display: flex;
            align-items: center;
            margin: 2em 0;
            @media #{$l} {
                margin: 0;
            }
            picture {
                width: 50%;
                max-width: 10em;
                margin: 0 2em 0 0;
                display: flex;
                border-radius: 50%;
                overflow: hidden;
                @media #{$l} {
                    display: none;
                }
                img {
                    width: 100%;
                }
            }
        }
    }
}
