#about-wrapper {
    display: flex;
    flex-direction: column;
    #about-content {
        flex: 1;
        overflow-y: auto;
        padding: 0 2em 0 0;
        p {
            hyphens: auto;
            text-align: justify;
            .no-hyphenation {
                hyphens: none;
            }
        }
        .tag {
            font-size: 0.9em;
            margin: 0 0.8em 0.8em 0;
        }
    }
}
