body,
html,
canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    color: white;
    background: $color-background-primary;
}

canvas {
    position: absolute;
}

#wrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 80%;
    z-index: 2;
    padding: 0 10%;
    opacity: 0;
    transition: 1s opacity;
    transition-delay: $preloader-duration;
}

h1,
h2 {
    font-weight: 700;
}
h3 {
    font-weight: 500;
}

.button {
    display: inline-block;
    border: 0.2em solid $color-accent;
    color: $color-accent;
    background-color: transparent;
    padding: 1em 2em;
    border-radius: 0.5em;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 0.8em;
    transition: background-color 0.5s, color 0.5s;
    letter-spacing: 0.1em;
    user-select: none;
    cursor: pointer;
    &:hover,
    &:focus {
        color: #ffffff;
        background-color: $color-accent;
    }
    svg {
        margin: 0 1em 0 0;
    }
    @media #{$l} {
        padding: 1em;
    }
}

textarea,
input {
    color: #ffffff;
    background: rgba(10, 10, 10, 0.8);
    border: 0.2em solid white;
    border-radius: 0.5em;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    transition: $input-error-transition-duration * 2 border;
    &::placeholder {
        color: #f0f0f0;
        font-weight: 200;
    }
}

a {
    text-transform: uppercase;
    color: $color-accent;
    font-size: 0.8em;
    font-weight: 700;
    transition: background-color 0.5s, color 0.5s;
    letter-spacing: 0.1em;
    cursor: pointer;
    text-decoration: none;
    &:hover,
    &:focus {
        color: #ffffff;
    }
    &.link-with-icon {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        svg {
            font-size: 1.5em;
            margin: 0 0.5em 0 0.5em;
        }
    }
}

b {
    font-weight: 500;
}

p {
    font-weight: 200;
}

h1,
h2,
h3,
p {
    cursor: default;
    user-select: none;
}

.back-arrow {
    font-size: 1.5em;
}

.message-buttons {
    padding: 1em 0;
    .message-button {
        margin-right: 1em;
        @media #{$l} {
            margin-right: 0;
        }
    }
    .button {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    @media #{$l} {
        display: flex;
        flex-direction: column;
        padding: 0 0 1em 0;
    }
}

.section-wrapper {
    position: absolute;
    left: 10%;
    width: 80%;
    transition: left 0.5s, opacity 0.5s, visibility 0.5s;
    max-width: 520px;
    max-height: 90%;
}

#preloader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    opacity: 1;
    transition: visibility 0s;
    transition-delay: $preloader-duration;
    display: flex;
    flex-direction: column;
    align-content: center;
    #progress-bar-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        transition: $preloader-duration/2 width ease-in;
        transition-delay: $preloader-duration/2;
        align-self: center;
        #progress-bar {
            height: 0.2em;
            background: $color-accent;
            transition: width 200ms linear;
        }
        .progress-bar-placeholder {
            flex: 1;
            height: 0.2em;
            background: $color-background-secondary;
        }
    }
    #upper-half,
    #lower-half {
        flex: 1;
        background: $color-background-secondary;
        transition: $preloader-duration/2 flex ease-in;
    }
    .half-placeholder {
        flex: 0;
        transition: $preloader-duration/2 flex ease-in;
    }
}
