@import "fonts";

$color-accent: #00b0cf;
$font-main: "Montserrat", sans-serif;
$l: "screen and (max-width : 425px)";

button {
    border: 0.2em solid $color-accent;
    color: $color-accent;
    background-color: transparent;
    padding: 1em 2em;
    border-radius: 0.5em;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 0.8em;
    transition: background-color 0.5s, color 0.5s;
    letter-spacing: 0.1em;
    cursor: pointer;
    &:hover,
    &:focus {
        color: #ffffff;
        background-color: $color-accent;
    }
    i {
        margin: 0 0.5em 0 0;
    }
    @media #{$l} {
        padding: 1em;
    }
}

textarea,
input {
    color: #ffffff;
    background: rgba(100, 100, 100, 0.3);
    border: 0.2em solid white;
    border-radius: 0.5em;
    display: block;
    font-family: "Montserrat", sans-serif;
}

a {
    text-transform: uppercase;
    color: $color-accent;
    font-size: 0.8em;
    font-weight: 700;
    transition: background-color 0.5s, color 0.5s;
    letter-spacing: 0.1em;
    cursor: pointer;
    text-decoration: none;
    &:hover, &:focus {
        color: #ffffff;
    }
}

b {
    font-weight: 600;
}

p {
    font-weight: 200;
}

h1, h2, p{
    cursor: default;
}

.back-arrow {
    font-size: 1.5em;
}

.message-buttons {
    padding: 1em 0;
    .message-button {
        margin-right: 1em;
        @media #{$l} {
            margin-right: 0;
        }
    }
    button {
        margin: 1em 0;
    }
    @media #{$l} {
        display: flex;
        flex-direction: column;
        padding: 0 0 1em 0;
    }
}

.section-wrapper {
    position: absolute;
    left: 10%;
    width: 80%;
    opacity: 0;
    visibility: hidden;
    transition: left 0.5s, opacity 0.5s, visibility 0.5s;
    max-width: 520px;
    max-height: 90%;
}

#preloader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: black;
    opacity: 1;
    transition: visibility 0s;
    transition-delay: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #progress-bar {
        height: 0.2em;
        background: $color-accent;
        transition: width 200ms linear;
    }
}

@keyframes preloader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
