#message-wrapper {
    height: 35em;
    max-height: 70%;
    display: flex;
    flex-direction: column;
    #message-form-wrapper {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: auto;
        form {
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: space-between;
            width: 100%;
            &.sent {
                animation: send $send-animation-duration forwards;
                height: 0;
                width: 0;
                transition-property: height, width;
                transition-duration: 0s, 0s;
                transition-delay: $send-animation-duration, $send-animation-duration;
            }

            .field-wrapper {
                height: 15%;
                display: flex;
                flex-direction: column;
                textarea,
                input,
                button {
                    padding: 1em;
                    height: 100%;
                    margin: 0;
                    box-sizing: border-box;
                    &.invalid {
                        border: 0.2em solid $color-error;
                    }
                }
                button {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                button svg {
                    font-size: 2em;
                    margin: 0;
                }
                textarea {
                    resize: none;
                }
                > span {
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    input {
                        flex: 1;
                        min-width: 0;
                    }
                    span {
                        width: 1em;
                    }
                }
            }
            #textarea-wrapper {
                height: 45%;
            }
            #submit-button-wrapper {
                overflow: hidden;
                opacity: 1;
                transition-property: opacity, height;
                transition-duration: $input-error-transition-duration, 0s;
                transition-delay: $input-error-transition-duration, $input-error-transition-duration;
                &.hide {
                    transition-delay: 0s, $input-error-transition-duration;
                    height: 0;
                    opacity: 0;
                }
            }
            #invalid-input-wrapper {
                text-align: center;
                color: $color-error;
                overflow: hidden;
                opacity: 1;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                transition-property: opacity, height;
                transition-duration: $input-error-transition-duration, 0s;
                transition-delay: $input-error-transition-duration, $input-error-transition-duration;
                &.hide {
                    height: 0;
                    opacity: 0;
                    transition-delay: 0s, $input-error-transition-duration;
                }
                p {
                    font-weight: 700;
                    margin: 0 0 0 0.5em;
                }
                svg {
                    font-size: 0.8em;
                }
            }
            input.honey {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                height: 0;
                width: 0;
                border: 0;
            }
        }
        #message-confirmation {
            height: 0;
            overflow: hidden;
            display: block;
            &.show {
                flex: 1;
                height: auto;
            }
            #message-success,
            #message-server-error,
            #message-client-error,
            #message-unknown-error {
                display: flex;
                height: 0;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                text-align: center;
                line-height: 1.5em;
                box-sizing: border-box;
                width: 100%;
                transition: opacity 500ms;
                opacity: 0;
                &.show {
                    height: 100%;
                    padding: 10%;
                    opacity: 1;
                }
                svg {
                    font-size: 4em;
                }
                h3,
                p {
                    margin: 0;
                }
            }
        }
    }
}

@keyframes send {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
    50% {
        transform: translate(0, 0) scale(1.1);
        opacity: 1;
    }
    100% {
        transform: translate(0, -100%) scale(1.1);
        opacity: 0;
    }
}
