#privacy-policy-wrapper {
    display: flex;
    flex-direction: column;
    #privacy-policy-content {
        flex: 1;
        overflow-y: auto;
        padding: 0 2em 0 0;
        p {
            hyphens: auto;
            text-align: justify;
            .reverse {
                unicode-bidi: bidi-override;
                direction: rtl;
                text-align: left;
            }
        }
    }
}
