$color-accent: #00b0cf;
$color-error: rgb(255, 25, 75);
$color-background-primary: black;
$color-background-secondary: rgb(26, 26, 26);
$font-main: "Montserrat", sans-serif;
$l: "screen and (max-width : 425px)";
$preloader-duration: 3s;
$send-animation-duration: 1s;
$input-error-transition-duration: 250ms;
