#work-wrapper {
    display: flex;
    flex-direction: column;
    max-width: none;
    width: 90%;
    height: 90%;
    #work-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        #grid {
            width: 100%;
            overflow: auto;
            flex: 1;
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-auto-columns: 20em;
            grid-auto-flow: column;
            .cell {
                position: relative;
                .image {
                    position: absolute;
                    background-size: cover;
                    background-position: center center;
                    width: 100%;
                    height: 100%;
                }
                .content {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.5);
                    opacity: 0;
                    transition: opacity 0.5s;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    box-sizing: border-box;
                    padding: 0 2em;
                    @media (hover: none) {
                        opacity: 1;
                    }
                    &:hover {
                        opacity: 1;
                        h3 {
                            margin-top: 0;
                        }
                    }
                    & > * {
                        margin: 0;
                    }
                    h3 {
                        transition: margin 0.5s;
                        margin: 2em 0 0.5em 0;
                        @media (hover: none) {
                            margin: 0 0 0.5em 0;
                        }
                    }
                    p {
                        font-size: 0.8em;
                        text-align: justify;
                    }
                    p,
                    a {
                        margin: 0.7em 0;
                    }
                    .tags {
                        .tag {
                            background-color: white;
                            color: black;
                            padding: 0.4em 0.8em;
                            font-weight: 500;
                            border-radius: 0.3em;
                            margin: 0 0.2em;
                            display: inline-block;
                        }
                    }
                }
                &#project1 {
                    grid-row-start: 1;
                    grid-row-end: 3;
                    .image {
                        background-image: url("../../assets/sample1.webp");
                    }
                }
                &#project2 {
                    .image {
                        background-image: url("../../assets/sample2.webp");
                    }
                }
                &#project3 {
                    .image {
                        background-image: url("../../assets/sample3.webp");
                    }
                }
                &#project4 {
                    .image {
                        background-image: url("../../assets/sample4.webp");
                    }
                }
                &#project5 {
                    .image {
                        background-image: url("../../assets/sample5.webp");
                    }
                }
                &#project6 {
                    grid-row-start: 1;
                    grid-row-end: 3;
                    .image {
                        background-image: url("../../assets/sample6.webp");
                    }
                }
            }
        }
    }
}
