@import "elements";

body,
html,
canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    color: white;
    background: black;
}

canvas {
    position: absolute;
}

#wrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 100%;
    width: 80%;
    z-index: 2;
    padding: 0 10%;
    opacity: 0;
    transition: 1s opacity;
    transition-delay: $preloader-duration;
}

#headline-wrapper {
    opacity: 1;
    visibility: visible;
    overflow: auto;
    #subtitle {
        margin: 1em 0;
        span {
            margin: 0 2em 0 0;
            @media #{$l} {
                margin: 0.2em 0;
            }
        }
        @media #{$l} {
            display: flex;
            flex-direction: column;
        }
    }
    #about-button {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        i {
            font-size: 1.5em;
            margin: 0 0.5em 0 0.5em;
        }
    }
}

#message-wrapper {
    left: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    #message-form-wrapper {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: auto;
        form {
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: space-between;
            &.sent {
                animation: send 1s forwards;
                height: 0;
                flex: 0;
                visibility: hidden;
                transition: height 0s, flex 0s, visibility 0s;
                transition-delay: 1s;
            }

            .field-wrapper {
                height: 15%;
                display: flex;
                flex-direction: column;
                textarea,
                input,
                button {
                    padding: 1em;
                    height: 100%;
                    margin: 0;
                    box-sizing: border-box;
                }
                button {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                button i {
                    font-size: 2em;
                }
                textarea {
                    resize: none;
                }
                >span {
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    input {
                        flex: 1;
                        min-width: 0;
                    }
                    span{
                        width: 1em;
                    }
                }
            }
            #textarea-wrapper {
                height: 45%;
            }
            input.honey {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                height: 0;
                width: 0;
                border: 0;
            }
        }
        #message-confirmation {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            visibility: hidden;
            opacity: 0;
            height: 0;
            &.show {
                visibility: visible;
                opacity: 1;
                height: 100%;
                transition: opacity 1s, visibility 0s, height 0s;
                transition-delay: 1s;
            }
            #message-success,
            #message-server-error,
            #message-client-error,
            #message-unknown-error {
                display: none;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                height: 100%;
                padding: 10%;
                text-align: center;
                line-height: 1.5em;
                i {
                    font-size: 4em;
                }
                h3,
                p {
                    margin: 0;
                }
            }
        }
    }
}

#about-wrapper {
    left: 80%;
    display: flex;
    flex-direction: column;
    #about-content {
        flex: 1;
        overflow-y: auto;
    }
}

@keyframes send {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
    50% {
        transform: translate(0, 0) scale(1.1);
        opacity: 1;
    }
    100% {
        transform: translate(0, -100%) scale(1.1);
        opacity: 0;
    }
}